body {
	background-color: black;
}

nav {
	color: black;
	font-size: 16px;
	font-weight: bold;
	padding: 20px;
}

p {
	color: white;
	font-family: Arial;
	font-size: 16px;
	text-align: left;
}

a {
	color: white;
}

h1 {
	font-size: 40px;
	text-align: center;
	color: white;
}

h2 {
	font-size: 24px;
	text-align: center;
	color: rgb(255, 255, 255);
}

h3 {
	color: white;
	font-size: 18px;
}

h4 {
	color: red;
	font-size: xx-small;
}

h5 {
	color: white;
	font-size: 16px;
	font-family: 'Courier New', Courier, monospace;
}

#quote {
	font-style: italic;
	text-align: center;
	color: white;
}

#author {
	text-align: right;
	color: white;
	font-size: 12px;
	font-style: normal;
}

fieldset {
	color: white;
}

legend {
	display: block;
	padding-left: 2px;
	padding-right: 2px;
	border: none;
	align-self: right;
}

label {
	text-align: left;
}

input {
	align-self: right;
}

#send {
	font-weight: bold;
}

canvas {
	display: block;
	margin: 0 auto;
	border: 3px solid;
	border-color: black;
	background-color: #404040;
	width: 100%;
	max-width: 400px;
}

footer {
	background-color: black;
	color: white;
	list-style-type: unset;
	text-align: center;
	margin: 0;
	padding: 0;
}

/* Style for links */
li {
	list-style: none; /* Remove default list styles */
	color: white;
	display: inline-block;
  }

  li a {
	color: blue; /* Set the color of the links */
	text-decoration: underline;
  }

  /* Style for icons */
  li a i {
	font-size: 24px;
	margin-right: 5px; /* Add spacing between the icon and text */
	color: white;
	margin-right: 20px; /* Add horizontal spacing between the icon and text */
  } 
  .links li {
	display: inline-block;
	font-size: 16px;
	margin-right: 20px;
}


.w3-small-image {
	width: 200px;
	/* Adjust the width as needed */
	height: auto;
	/* This will maintain the aspect ratio */
}

.w3-small-image-container {
	display: flex;
	align-items: center;
	justify-content: center;
}