<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>unosamuno</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="./css/unosamuno.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <header class="w3-container w3-black w3-center">
        <nav class="w3-bar w3-black w3-center">
            <a href="#information" class="w3-bar-item w3-button w3-round w3-hide-small">about</a>
            <a href="#mix" class="w3-bar-item w3-button w3-round w3-hide-small">mix</a>
            <a href="#form" class="w3-bar-item w3-round w3-button w3-hide-small">Kontakt</a>
            <a href="#ref" class="w3-bar-item w3-button w3-round w3-hide-small">linggs</a>
            <button class="w3-bar-item w3-button w3-left w3-round w3-hide-large w3-hide-medium"
                onclick="document.getElementById('sub').classList.toggle('w3-hide');"> &#x2630;</button>
        </nav>
        <div id="sub" class="w3-bar-block w3-hide">
            <a href="#information" class="w3-bar-item w3-button w3-round w3-mobile">about</a>
            <a href="#mix" class="w3-bar-item w3-button w3-round w3-mobile">mix</a>
            <a href="#form" class="w3-bar-item w3-button w3-round w3-mobile">Kontakt</a>
            <a href="#ref" class="w3-bar-item w3-button w3-round w3-mobile">linggs</a>
        </div>
    </header>

    <h1>ciao!<br></h1>
    <hr>
    <div class="w3-container">
        <div class="w3-row w3-black">
            <div class="w3-col l4 w3-display-container w3-center">
                <img src="img/uno.jpg" alt="picture of me" width="500" height="500" class="w3-image w3-round">
                <div class="w3-display-topmiddle w3-container w3-small w3-round w3-black">unosamuno</div>
            </div>
            <!-- information on how to use this website -->
            <div id="information" class="w3-col l4">
                <div class="w3-margin" style="color: black;">
                    <h2></h2>
                    <p>sono unosamuno</p>
                    <p>Studying Digital Engineering at Lucerne's University of Applied Sciences.</p>
                    <p><a href="#form">Kontakt</a></p>
                    <p><a href="#ref">linggs</a>
                    </p>
                    <div class="w3-center w3-display-container w3-center">
                        <img src="img/moreAmore.jpeg" alt="moreAmore" width="300" height="150"
                            class="w3-image w3-round">
                        <div class="w3-display-bottommiddle w3-container w3-small w3-round w3-black">motto</div>
                    </div>
                </div>
            </div>
            <div class="w3-col l4 w3-display-container w3-center">
                <img src="img/DJstation.JPG" alt="DJstation" width="500" height="500" class="w3-image w3-round">
                <div class="w3-display-topmiddle w3-container w3-small w3-round w3-black">setup</div>
            </div>
        </div>
    </div>

    <hr>

    <!-- canvas with vinyl player and audio -->
    <div class="w3-container" id="mix">
        <div class="w3-row w3-black">
            <div class="w3-col">
                <div class="w3-margin w3-center">
                    <h2 style="color: rgb(255, 255, 255);">music mix</h2>
                    <button class="w3-button w3-green w3-round-xlarge" id="on" onclick="playAudio()">PLAY</button>
                    <button class="w3-button w3-purple w3-round-xlarge" id="off" onclick="pauseAudio()">PAUSE</button>
                    <br>
                    <br>
                    <canvas id="canvas" width="500" height="400"></canvas>
                    <br>
                    <!-- audio is in the lowest quality possible, to reduce file size -->
                    <audio id="mymix" controls="" type="audio/mpeg" src="audio/uno1.mp3"></audio>
                    <script src="./js/recordPlayer.js"></script>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="w3-container" id="form">
        <div class="w3-row w3-black">
            <h2 style="color: rgb(255, 255, 255);">Kontakt</h2>
            <div id="main" class="w3-container">
                <!-- first quarter, empty container -->
                <div class="w3-col l2 w3-container"></div>
                <!-- second quarter, the form -->
                <div class="w3-col l4">
                    <form name="contactform" method="POST" action="unosamuno.php">
                        <fieldset class="w3-box w3-margin">
                            <legend><strong>You</strong></legend>
                            <label for="name">Name: *</label><br>
                            <input class="w3-round" name="name" v-model="name" /><br>
                            <br>
                        </fieldset>
                        <br>
                    </form>
                </div>
                <!-- third quarter, the reaction to the form with vue.js -->
                <div class="w3-col l4">
                    <fieldset class="w3-box w3-margin">
                        <legend><strong>Me</strong></legend>
                        <div class="w3-col">
                            <h3 v-if="name" class="w3-left">
                                Hello {{ name }}
                            </h3>
                            <p id="quote" v-if="name" class="w3-right">
                                ...do not go gentle into that good night,<br>
                                Old age should burn and rave at close of day;<br>
                                Rage, rage against the dying of the light.<br>
                                <span id="author" v-if="name" class="w3-right"> – Dylan Thomas (1914 - 1953)</span>
                                <br>
                            </p>
                            <br>
                            <br>
                            <br>
                            <h3 v-if="name" class="w3-left w3-center">
                                <td>Send <a title="email" href="mailto:samuelhuser@gmail.com">Email</a><span
                                        style="font-size: 25px;"> &#9993;</span></td>
                            </h3>
                        </div>
                    </fieldset>
                </div>
                <!-- fourth quarter, empty container -->
                <div class="w3-col l4 w3-container"></div>
            </div>
        </div>
        <script src="js/bookingForm.js"></script>
    </div>

    <hr>

    <!-- footer with links to cloudstreams and social media -->
    <footer>
        <div id="ref">
            <ul class="links">
                <br>
                <li><a title="mixcloud" href="https://www.mixcloud.com/unosamuno" rel="noreferrer"
                        target="_blank">mixcloud</a>
                </li>
                <li><a title="soundcloud" href="https://soundcloud.com/unosamuno" rel="noreferrer"
                        target="_blank">soundcloud</a></li>
                <li><a title="twitter" href="https://twitter.com/unosamuno" rel="noreferrer" target="_blank">twitter</a>
                </li>
                <li><a title="github" href="https://github.com/unosamuno" rel="noreferrer" target="_blank">github</a>
                </li>
                <br>
                <br>
            </ul>
        </div>
    </footer>
</body>

</html>